.modal-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  .modal-title {
    text-align: center;
  }
  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    button {
      width: 45%;
    }
  }
}
